# Logs
logs
*.log
npm-debug.log*

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.DS_Store
.idea
.vscode

# dotenv environment variables file(s)
.env
.env.*

# Optional eslint cache
.eslintcache
